<div class="table-container">
    <h3 class="header">Уроки:</h3>
</div>
<div class="table-container">
    <table>
        <tr class="active-row">
            <th>Номер</th>
            <th>Дата</th>
            <th>Тема</th>
            <th>Задание</th>
            <th>Примечание</th>
        </tr>
        <ng-container *ngFor="let lesson of Lessons">
            <tr>
                <td>{{lesson.number}}</td>
                <td>{{lesson.date}}</td>
                <td>{{lesson.topic}}</td>
                <td>{{lesson.homework}}</td>
                <td>{{lesson.note}}</td>
            </tr>
        </ng-container>
    </table>
</div>

<div class="table-container">
    <div style="margin: 1% 0% 3% 0%;">
        <form [formGroup]="addLessonForm" novalidate>
            <input formControlName="lessonNumber" class="rounded-input" type="text" placeholder="Номер">
            <input formControlName="lessonDate" class="rounded-input" type="text" placeholder="Дата">
            <input formControlName="lessonTopic" class="rounded-input" type="text" placeholder="Тема">
            <input formControlName="lessonHomework" class="rounded-input" type="text" placeholder="Задание">
            <input formControlName="lessonNote" class="rounded-input" type="text" placeholder="Примечание">
            <button class="rounded-input" (click)="onClickAddLesson()">Добавить урок</button>
        </form>
    </div>
</div>

<div class="table-container">
    <h3 class="header">Оценки:</h3>
</div>
<div class="table-container">
    <table>
        <tr>
            <th>ФИО</th>
            <th>Средний балл</th>
            <th>Округленный средний балл</th>
            <th *ngFor="let lesson of Lessons">{{lesson.date.toString() + ', ' + lesson.topic}}</th>
        </tr>
        <tr *ngFor="let student of Students">
            <td>{{student.name}}</td>
            <td>{{ getAvg(student.id) }}</td>
            <td>{{ getRoundedAvg(student.id) }}</td>
            <td *ngFor="let lesson of Lessons">
                <select (change)="onClickSelect($event, student.id, lesson.id)"
                    [selectedIndex]="getIndex(student.id, lesson.id)">
                    <option>-</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </td>
        </tr>
    </table>
</div>
<div class="table-container">
    <div style="margin: 1% 0% 3% 0%;">
        <form [formGroup]="addStudentForm" novalidate>
            <input formControlName="studentName" class="rounded-input" type="text" placeholder="Имя">
            <button class="rounded-input" (click)="onClickAddStudent()">Добавить студнета</button>
        </form>
    </div>
</div>