<h3>Таблица уроков</h3>
<table border="1" style="text-align: center">
    <tr>
        <th>Номер</th>
        <th>Дата</th>
        <th>Тема</th>
        <th>Задание</th>
        <th>Примечание</th>
    </tr>
    <ng-container *ngFor="let lesson of Lessons">
        <tr>
            <td>{{lesson.id}}</td>
            <td>{{lesson.date}}</td>
            <td>{{lesson.topic}}</td>
            <td>{{lesson.homework}}</td>
            <td>{{lesson.note}}</td>
        </tr>
    </ng-container>
</table>

<div style="margin: 1% 0% 3% 0%;">
    <input type="text" placeholder="Номер" #nmbr>
    <input type="text" placeholder="Дата" #dt>
    <input type="text" placeholder="Тема" #tpc>
    <input type="text" placeholder="Задание" #hmwrk>
    <input type="text" placeholder="Примечание" #nt>
    <button (click)="onClickAddLesson()">Добавить урок</button>
</div>


<h3>Таблица оценок</h3>
<table border="1" style="text-align: center">
    <tr>
        <th>ФИО</th>
        <th>Средний балл</th>
        <th>Округленный средний балл</th>
        <!-- <th *ngFor="let lesson of Lessons">{{lesson.date + ', ' + lesson.topic}}</th> -->
    </tr>
    <tr *ngFor="let student of Students">
        <td>{{student.name}}</td>
        <td>-</td>
        <td>-</td>
        <td *ngFor="let lesson of Lessons">{{ getScore(student.id, lesson.id) }}</td>
    </tr>
    <!-- 
    <ng-container *ngFor="let grade of GRADES">
        <tr>
            <td>{{grade.name}}</td>
            <td>{{grade.mid_grade}}</td>
            <td>{{grade.rounded_mid_grade}}</td>
            <ng-container *ngFor="let grd of grade.grades">
                <td>
                    <select (change)="onClickSelect($event, grd.lesson, grd.score)" #mySel>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </td>
            </ng-container>
        </tr>
    </ng-container>
    <tr>
        <td></td>
    </tr>
    <tr>

        <td><input placeholder="Имя" #name></td>
        <td>-</td>
        <td>-</td>
        <td *ngFor="let lesson of LESSONS">
            <select (change)="onClickSelect($event)" #mySel>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td><button (click)="onClickAddStudent($event)">Добавить ученика</button></td>

    </tr> -->

</table>

<div style="margin: 1% 0% 3% 0%;">
    <input type="text" placeholder="Дата" #studentName>
    <button (click)="onClickAddStudent()">Добавить урок</button>
</div>