<h1>Не показывать генеральному директору!</h1>
<h3>Таблица уроков</h3>
<table border="1">
    <tr>
        <th>Номер</th>
        <th>Дата</th>
        <th>Тема</th>
        <th>Задание</th>
        <th>Примечание</th>
    </tr>
    <ng-container *ngFor="let lesson of LESSONS">
        <tr>
            <td>{{lesson.id}}</td>
            <td>{{lesson.date}}</td>
            <td>{{lesson.topic}}</td>
            <td>{{lesson.homework}}</td>
            <td>{{lesson.note}}</td>
        </tr>
    </ng-container>
</table>


    <br>
    <input type="text" placeholder="Номер" #nmbr>
    <input type="text" placeholder="Дата" #dt>
    <input type="text" placeholder="Тема" #tpc>
    <input type="text" placeholder="Задание" #hmwrk>
    <input type="text" placeholder="Примечание" #nt>
    <button (click)="onClick($event)">Добавить урок</button>



<h3>Таблица оценок</h3>
<table border="1">
    <tr>
        <th>ФИО</th>
        <th>Средний балл</th>
        <th>Округленный средний балл</th>
        <ng-container *ngFor="let lesson of LESSONS">
            <th>{{lesson.date + ' ' + lesson.topic}}</th>
        </ng-container>
    </tr>
    <ng-container *ngFor="let grade of GRADES">
        <tr>
            <td>{{grade.name}}</td>
            <td>{{grade.mid_grade}}</td>
            <td>{{grade.rounded_mid_grade}}</td>
            <ng-container *ngFor="let grd of grade.grades">
                <td>{{grd}}</td>
            </ng-container>

        </tr>
    </ng-container>
</table>